$font-size: 20px;
$font-size-big: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$text-color: #1D1D1D;

h1{
    font-size: $font-size;
    @media (max-width: 960px) {
        font-size: $font-size-big;
    }
    @media (max-width: 640px){
        font-size: $font-size-medium;
    }
    @media (max-width: 320px){
        font-size: $font-size-small;
        .small{
            color: $text-color;
        }
    }
}